name: Test Code Samples

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    name: Run tests
    timeout-minutes: 30
    strategy:
      max-parallel: 3
      matrix:
        os:
          - "ubuntu-22.04"
        dotnet:
          - "net6.0"
          - "net8.0"
          - "net9.0"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          6.0.x
          8.0.x
          9.0.x

#    - uses: actions/cache@v4
#      with:
#        path: ~/.nuget/packages
#        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
#        restore-keys: |
#          ${{ runner.os }}-nuget-

    - name: Install dotnet-script
      run: |
        dotnet tool install -g dotnet-script

    - name: Publish Locally
      run: |
        ./tests/local_publish.sh ${{ matrix.dotnet }} ${{ github.workspace }}

    - name: Test V2 sample code
      run: |
        ./tests/test_v2_code_samples.sh ${{ secrets.MINDEE_V2_SE_TESTS_API_KEY }} ${{ secrets.MINDEE_V2_SE_TESTS_FINDOC_MODEL_ID }} ${{ secrets.MINDEE_V2_SE_TESTS_FAILURE_WEBHOOK_ID }}

    - name: Test V1 sample code
      run: |
        ./tests/test_v1_code_samples.sh ${{ secrets.MINDEE_ACCOUNT_SE_TESTS }} ${{ secrets.MINDEE_ENDPOINT_SE_TESTS }} ${{ secrets.MINDEE_API_KEY_SE_TESTS }}
