name: Linter

on:
  push:
    paths:
      - "**.cs"
      - ".editorconfig"

jobs:
  check-format:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET SDK '6.0.x'
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'

      - name: Install dotnet-format tool
        run: dotnet tool install -g dotnet-format

      - name: Run dotnet format
        run: dotnet format --verify-no-changes
