name: Pull Request

on:
  pull_request:

permissions: # For warnings only, doesn't do anything.
  contents: read
  pull-requests: read

jobs:
  static-analysis:
    uses: ./.github/workflows/_static-analysis.yml
    permissions:
      actions: read
      security-events: write
      contents: read
  qodana-code-quality:
    uses: ./.github/workflows/_qodana_code_quality.yml
    needs: test-units
    permissions:
      actions: read
      security-events: write
      checks: write
      contents: write
      pull-requests: write
    secrets: inherit
  codeql:
    uses: ./.github/workflows/_codeql.yml
    needs: qodana-code-quality
    permissions:
      actions: read
      security-events: write
      contents: read
  test-units:
    uses: ./.github/workflows/_test-units.yml
    needs: static-analysis
    secrets: inherit
  test-integrations:
    uses: ./.github/workflows/_test-integrations.yml
    needs: test-units
    secrets: inherit
  test-code-samples:
    uses: ./.github/workflows/_test-code-samples.yml
    needs: test-integrations
    secrets: inherit
