name: Push Main Branch

on:
  push:
    branches:
      - main

jobs:
  static_analysis:
    uses: mindee/mindee-api-dotnet/.github/workflows/_static-analysis.yml@main
  qodana-code-quality:
    uses: ./.github/workflows/_qodana_code_quality.yml
    permissions:
      actions: read
      security-events: write
      contents: read
    secrets: inherit
  codeql:
    uses: ./.github/workflows/_codeql.yml
    needs: test-units
    permissions:
      actions: read
      security-events: write
      checks: write
      contents: write
      pull-requests: write
  build:
    uses: mindee/mindee-api-dotnet/.github/workflows/_test-units.yml@main
    needs: static_analysis
    secrets: inherit
  tag:
    uses: mindee/client-lib-actions/.github/workflows/tag-version.yml@main
    needs: build
  release:
    uses: mindee/client-lib-actions/.github/workflows/create-release.yml@main
    needs: tag
    secrets: inherit
